body{
  font-family: Helvetica, sans-serif;
  text-align: center;
}
a:visited{
  color: white;
}
a{
  color: white;
}



#title{
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.menubar{
  font-size: 18px;
  color white;

}

#header{

  background-image: url(../flatiron.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;


}
#ourprocess{
  font-size: 32px;
  font-weight: bold;
}
.process{
  font-size: 23px;
  font-weight: bold;
}
.blurb{
  font-size: 14px;
}
#newyork{
  font-size: 23px;
  font-weight: bold;
  background-image: url(../flatiron.png);
}
#footer{
  background-image: url(../flatiron.png);
}
